/* 布局样式  */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
	box-sizing:border-box;
}
body{
	margin: 1em 20%;
	max-width: 65m;
	/* background: repeating-linear-gradient(#f9f8ca,#becee8,#78b9e1,#addfe8,#b5e1ec,#b8e8f2);
	animation: fade 6000ms infinite linear; */
}
/* @keyframes fade {
	from{
		opacity: 1.0;
	}
	50%{
		opacity: 0.4;
	}
	to{
		opacity: 1.0;
	}
} */

/* 外层包装 */
.container{
 margin: 0;
 padding: 0;
 border-style: solid;
 border-width: 2px 2px;
 border-color: #c6c6c6;
 position: relative;
 width: 792px;
 height:1200px;

}
.box-1{
	width: 24px;
	height: 24px;
	border-style: solid;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-left-width: 0px;
	border-top-width: 0px;
	border-color: #c6c6c6;
	position: absolute;
	top: 24px;
	left:14px;
}
.box-2{
	width: 24px;
	height: 24px;
	border-style: solid;
	border-bottom-width: 1px;
	border-right-width: 0px;
	border-left-width: 1px;
	border-top-width: 0px;
	border-color: #c6c6c6;
	position: absolute;
	top: 24px;
	left: 740px;
}
.box-3{
	width: 24px;
	height: 24px;
	border-style: solid;
	border-bottom-width: 0px;
	border-right-width: 1px;
	border-left-width: 0px;
	border-top-width: 1px;
	border-color: #c6c6c6;
	position: absolute;
	top: 1150px;
	left: 14px;
}
.box-4{
	width: 24px;
	height: 24px;
	border-style: solid;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-left-width: 1px;
	border-top-width: 1px;
	border-color: #c6c6c6;
	position: absolute;
	top: 1150px;
	left: 740px;
	z-index: 1;
}
.box-5{
	width: 61px;
	height: 52px;
	border-color: #c6c6c6;
	position: absolute;
	top: 1130px;
	left: 720px;
	background-image: url(../../images/image011.png);
	z-index: -1;
}
.head{
	/* background-color:#303331; */
	position: relative;
	text-align: center;
	width: 692px;
	height: 100px;
	left: 49px;
}
.head-1{
	/* background-color: #b5e1ec; */
	color:#00b050;
	border-right: solid 2px #00b050;
	width: 210px;
	height: 70px;
	font-size: 45px;
	text-align: center;
	display: block;
	float: left;
	margin-top: 0.5em;
	padding-right: 0.5em；
}
.head-2{
	/* background-color: #f9f8ca; */
	color: #32bf72;
	height: 100px;
	width: 200px;
	font-size: 14px;
	display: block;
	float: left;
	text-align: left;
	padding-left: 1em;
	padding-top: 40px;
	line-height: 10px;
	margin-bottom: 10px;
}
.head-2text{
	color: #00b050;
	font-size: 24px;
	margin-top: 10px;
}
.head-3{
	/* background-color: #b5e1ec; */
	font-size: 12px;
	height: 100px;
	width: 272px;
	text-align: right;
	display: block;
	float: left;
	display: block;
	float: left;
	padding-top: 50px;
	margin-bottom: 10px;

}
.head-3 li{
	padding-left: 1em;
	display: inline;
}
.bar{
	display:block;
	width: 792px;
	height: 25px;
	clear: both;
}
.bar-1{
	width: 420px;
	height: 21px;
	background-color: #00b050;
	float: left;
	margin-top: -6px;
	transform: skewX(40deg);
	z-index: 1;
	margin-left: -21px;
}
.bar-2{
	width: 300px;
	height: 15px;
	background-color: #92d050;
	float: left;
	transform: skewX(-40deg);
	z-index: 1;
	margin-left: 20px;
}
.bar-right{
	background-color: #00b050;
	float: left;
	width: 30px;
	height: 21px;
	z-index: 2;
	margin-top: -6px;
}
.bar-left{
	background-color: #92d050;
	float: right;
	width: 71px;
	height: 15px;
	z-index: 2;
	margin-left: 720px;
	position: absolute;
}
.content{
	border-style: solid;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-left-width: 1px;
	border-top-width: 0px;
	border-color: #20b965;
	position: relative;
	height: 1020px;
	left: 40px;
	margin-top: -20px;
	padding-top: 50px;
}
.content-1{
	border-style: solid;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-top-width: 1px;
	border-color: #20b965;
	position: relative;
	width: 700px;
	height: 170px;
	padding-top: 10px;
	text-align: left;
}
.content-1 ul{
	float: left;
	list-style-type: none;
	margin-left:2em;
	zoom:1
}
.content-1 ul img{
	float: left;
	width: 112px;
	height: 134px;
	margin-left:3em;
	margin-top: -14px;
	zoom:1
}
.content-1 ul li{
	list-style-position:outside
}
.star-style{
	list-style-image: url(../../images/star.png);
}
.arrow-style{
	list-style-image: url(../../images/arrow.png);
}
.snow-style{
	list-style-image: url(../../images/snow.png);
}
/* .txt{
	position: relative;
	margin-left: 0px;
} */
span{
	margin-left:1em;
	line-height: 10px;
}
.content-2{
	border-style: solid;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-top-width: 1px;
	border-color: #20b965;
	position: relative;
	width: 700px;
	height: 190px;
	padding-top: 10px;
	text-align: left;
}
.content-2 ul{
	float: left;
	list-style-type: decimal;
	margin-left:2em;
	zoom:1
}
.content-2 ul li{
	list-style-position:outside
}

.panel-body ul img{
	width: 111px;
	height: 127px;
	border: 0;
	margin-left: 40px;
	margin-top: -20px;
}
.content-head-1{
	width: 134px;
	height: 30px;
	background-image: url(../../images/heading.png);
	position: relative;
	text-align: center;
	color: #ffffff;
	top: -1062px;
	left: -18px;
	margin-bottom: 140px;
	padding-right: 10px;
}
.content-head-2{
	width: 134px;
	height: 30px;
	background-image: url(../../images/heading.png);
	position: relative;
	text-align: center;
	color: #ffffff;
	top: -1062px;
	left: -18px;
	margin-bottom: 160px;
	padding-right: 10px;
}
.content-head-3{
	width: 134px;
	height: 30px;
	background-image: url(../../images/heading.png);
	position: relative;
	text-align: center;
	color: #ffffff;
	top: -1082px;
	left: -18px;
	margin-bottom: 140px;
	padding-right: 10px;
}
